.shadow-2 {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cursor-point {
  cursor: pointer;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.direction-row {
  flex-direction: row;
}

.direction-col {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}